@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
}

.nav-barre ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-barre li{
    color: var(--bleu);
    padding: 10px 30px;
    margin: 20px;
    display: flex;
    border: 2px solid var(--bleu);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.nav-barre .actif{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
}

.nav-barre li:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondVendre{
    margin-bottom: 2vh;
    width: 80vw;
    height: 250px;
    background-image: url("../../images/fondDefault.jpg");
    border-radius:4px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fondVendre .carteVendeur{
    position: absolute;
    top:4px;
    right:4px;
    width: 200px;
    height: 242px;
    border: solid 2px var(--blanc);
    border-radius: 4px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.bckgdCarteVendeur{
    position:absolute;
    top:0px;
    left:0px;
    width:196px;
    height: 100px;
}

.fondVendre p{
    color: var(--blanc);
    background: transparent;
}

.titrePage{
    font-size: 3.5em;
    letter-spacing: 20px;
    font-weight: bold;
}

.imgVendeur{
    position: absolute;
    top:50px;
    left:50px;
}

.imgVendeur img{
    width:100px;
    height: auto;
    background: transparent;
}

.psdVendeur{
    margin-top:170px;
    background: transparent;
}

.psdVendeur p{
    color:var(--rose);
    font-size: 20px;
}

.btnAjouter{
    display: flex;
    flex-direction: row;
    color: var(--blanc);
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    cursor:pointer;
    padding:5px;
    border-radius: 4px;
    font-size: 20px;
    transition: 0.6s ease;
    margin-bottom: 2vh;
}

.btnAjouter a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:var(--blanc);
}

.btnAjouter:hover{
    font-size: 22px;
    padding: 8px;
}

.btnAjouter p{
    margin-left:10px;
    margin-right:10px;
}

.btnAjouter i{
    margin-left:10px;
}

.listItems{
    width:70vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}


.item .prix{
    color: var(--vert);
    font-size: 20px;
}

.info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info2 p{
    text-align: center;
    color: var(--blanc); 
}

p {
    text-align: center;
    color: var(--blanc);
}

.info2 {
    height: 100%;
}

.item{
    border: solid 2px white;
    border-radius:4px;
    /* padding: 5px; */
    height: 550px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    box-shadow: 0px 10px 20px black;
    transition: 0.3s ease-in-out;
}

.item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px var(--secondary);
}

.imgItem img{
    width:200px;
    height:200px;
}

.item-bottom {
    height: 170px;
    width: 100%;
    /* background-color: var(--secondary); */
    border-top: 2px solid var(--blanc);
    display: flex;
    justify-content: center;
}

.item-bottom img{
    height: 30px;
    width: 30px;
    margin: 5px 20px;
}

.item .rose{
    font-size: 20px;
    color: var(--rose);
}

.vert{
    font-size: 20px;
    color:var(--vert);
    margin-bottom: 2vh;
}