@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
 :root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
}

.nav-barre ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-barre li{
    color: var(--bleu);
    padding: 10px 30px;
    margin: 20px;
    display: flex;
    border: 2px solid var(--bleu);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.nav-barre .actif{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
}

.nav-barre li:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    margin: 50px 0;
}

.section {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
    background-color: var(--jaune);
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s all ease-in-out;
}

.section h1{
    color: var(--primary);
    background-color: transparent;
}

.categorie {
    list-style: none;
    display: flex;
    justify-content: center;
}

.categorie li {
    margin: 0 50px;
    padding: 10px 20px;
}

.categorie li img{
    height: 150px;
    width: 150px;
}

.categorie li:nth-child(1) { 
    color: var(--rose);
}

.categorie li:nth-child(2) { 
    color: var(--vert);
}

.categorie li:nth-child(3) { 
    color: var(--bleu);
}

.categorie-active{
    border: 3px solid currentColor;
    border-radius: 20px;
    padding: 7px 17px;
    transition: 0.3s border ease-in-out;
}

.listForm {
    display: flex;
    justify-content: space-around;
}

table {
    margin-top: 50px;
}

table h1 {
    margin-right: 150px;
    color: var(--secondary);
}

table td {
    border-bottom: 45px solid transparent;
}

.titre {
    margin: 40px;
    display: flex;
    justify-content: center;
    color: var(--blanc);
}

.btn  {
    padding: 5px 20px;
    color: var(--blanc);
    border: 2px solid var(--jaune);
    border-radius: 15px;
    margin-top: 10px;
    transition: 0.3s all ease-in-out;
}

.btn:hover {
    background-color: var(--jaune);
    color: var(--blanc);
    transform: scale(1.4);
    border-radius: 3em;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 1.25em;
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--jaune);
    display: inline-block;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

tr:last-child input {
    background-color: transparent !important;
}

.enchereTitre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.enchereTitre h3 {
    color: var(--secondary);
    font-size: 2em;
}

.enchere {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.enchere li {
    height: 100px;
    width: 100px;
}

.enchere li img{
    /* max-height: 105px; */
    width: 100%;
    height: 100%;
}

 .enchere img {
    border-radius: 25px;
}

.listEnchere {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.listEnchere h3 {
    color: var(--secondary);
}

.listEnchere li:nth-child(1) {
    transform: translateX(25px);
}

.listEnchere li:nth-child(2) {
    transform: translateX(40px);
}

.btnFinal {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btnFinal input {
    font-size: 2em;
}

.finalString{
    color: var(--rose);
    margin-bottom:10px;
}

.finalString p{
    text-align: center;
}

.custom-file-input {
    color: transparent;
}


.date {
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
    margin-right: 150px;
    color: var(--secondary);
}

.date input {
    color: var(--blanc);
}

.dNone {
    display: none;
}

.offre {
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
    margin-right: 150px;
    color: var(--secondary);
}

.oNone {
    display: none;
}

.prixIm {
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
    margin-right: 150px;
    color: var(--secondary);
}

.iNone {
    display: none;
}