@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    background-color: var(--primary);
    
}

.container {
    height: 100vh; /* minu the size of the header */
    background-image: url(../images/Image-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pgDown i{
    position: absolute;
    left: 50%;
    top: calc(100% - 35px);
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    background-image: url(../images/Arrow-down.svg);
    font-size: 20px;
    /* transform: translate(0px, 10px); */
}

.bousole {
    height: 12em;
    width: 12em;
    float: right;
    position: relative;
    top: 30px;
    right: 70px;
    background-color: transparent;
}

.container ul {
    float: left;
    position: relative;
    left: 50px;
    top: 30%;
    list-style: none;
    font-size: 2em;    
    background-color: transparent;
    
}

.container li {
    margin-top: 15px;
    background-color: transparent;
    font-weight: lighter;
    letter-spacing: 15px;
}

.container li:nth-child(1) {
    color: var(--vert);
    position: relative;
    /* left: -300px; */
}
.container li:nth-child(2) {
    color: var(--jaune);
}
.container li:nth-child(3) {
    color: var(--rose);
}

.animate {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.animateInf {
    -webkit-animation: fadein 3s ease-in-out infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s ease-in-out infinite; /* Firefox < 16 */
        -ms-animation: fadein 3s ease-in-out infinite; /* Internet Explorer */
         -o-animation: fadein 3s ease-in-out infinite; /* Opera < 12.1 */
            animation: fadein 3s ease-in-out infinite;
            animation-direction: alternate-reverse;
}


@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container li:hover {
    transform: scale(1.1);
    border-bottom: 2px solid currentColor;
}

.categorie {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-categorie {
    height: 80%;
    width: 80%;
    background-color: transparent;
    border: 3px solid var(--vert);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-categorie div {
    margin: 100px;
}

.content-categorie .content-top {
    border-radius: 1em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* height: 20%; */
    margin: 0;
    height: 50%;
}

.content-categorie ul {
    list-style: none;
    font-weight: 100;
    font-size: 3.5em;
    letter-spacing: 10px;
}

.content-categorie li:nth-child(1) {
    margin-top: 40px;
    color: black;
}

.content-categorie li:nth-child(2) {
    color: var(--blanc);
}

.content-categorie li:nth-child(3) {
    color: var(--secondary)
}

.content-categorie img {
    height: 300px;
    width: 300px;
}

.content-categorie .content-bottom {
    border-radius: 1em;
    display: flex;
    width: 100%;
    margin: 0;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.content-bottom li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content-bottom li img { 
    height: 200px;
    width: 200px;
}

.content-bottom li:nth-child(1) { 
    color: var(--rose);
    margin-top: -20px;
}

.content-bottom li:nth-child(2) { 
    color: var(--vert);
}

.content-bottom li:nth-child(3) { 
    color: var(--bleu);
}

.content-bottom li:hover {
    border: 3px solid currentColor;
    padding: 7px;
    border-radius: 20px;
    transform: translateY(-30px) scale(1.1);
    transition: 0.3s transform ease-in-out;
}

.presentation {
    height: 100vh;
    text-align: center;
}

.presentation h1 {
    color: var(--jaune);
    letter-spacing: 30px;
    font-size: 10em;
}

.presentation h3 {
    letter-spacing: 20px;
    font-size: 3em;
}

.presentation ul {
    margin-top: 150px;
}

.presentation ul li div {
    width: 400px;
}

.presentation ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.presentation ul li img{
    height: 250px;
    width: 250px;
    border-radius: 3em;
    margin: 0 100px;
}

.presentation ul li:nth-child(1) { 
    color: var(--bleu); 
}
.presentation ul li:nth-child(2) {  
    color: var(--rose);
}
.presentation ul li:nth-child(3) {  
    color: var(--vert)
}

.presentation p {
    color: var(--secondary);
    text-align: justify;
  text-justify: inter-word;
}