@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
 :root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: var(--blanc);
    height: 500px;
    max-height: 80%;
    width: 60%;
    max-width: 400px;
    border-radius: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h1 {
    margin: 20px;
}

.card h1,a,.btn {
    background-color: var(--blanc);
    border-radius: 1em;
}

.btn  {
    padding: 5px;
    color: var(--bleu);
    border: 2px solid var(--bleu);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2em;
}

.btn:hover {
    transition: 0.3s all ease-in-out;
    background-color: var(--bleu);
    color: var(--blanc);
    transform: scale(1.4);
    border-radius: 3em;
}