/* @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #212121;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    background-color: var(--primary);
    
}

.hBlanc{
    color: var(--blanc);
    background: transparent;
}

.nav-barre ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-barre li{
    color: var(--bleu);
    margin: 20px;
    display: flex;
    border: 2px solid var(--bleu);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.nav-barre li a{
    padding: 10px 30px;
    background: transparent;
    text-decoration: none;
    color: var(--bleu);
    transition: 0.3s ease-in-out;
}

.nav-barre .actif{
    background-color: var(--bleu);
    transform: scale(1.1);
}

.nav-barre .actif a{
    color: var(--blanc);
    cursor: default;
}

.nav-barre li:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
    cursor: pointer;
}

.nav-barre li:hover a{
    color: var(--blanc);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-bottom {
    /* position: relative; */
    text-align: center;
    height: 300px;
    width : 80vw;
    border-radius: 30px;
    /* background-image: url("../../images/Fond/fond-choix2.jpg"); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.admin-bottom h1 {
    font-size: 4em;
    letter-spacing: 10px;
    color: var(--jaune);
}

.admin-bottom h1 {
    background: transparent;
}

.admin-bottom .profil {
    position: absolute;
    left: 5vw;
    top: 80px;
    height: 330px;
    width: 200px;
    background-color: var(--secondary);
    border-radius: 20px;
    border: solid 2px var(--blanc);
}

.admin-bottom img {
    margin-top: 20px;
    height: 243px;
    width: 174px;
    background-color: transparent;
    background-color: var(--primary);
    border-radius: 20px;
}

.profil h3 {
    margin-top: 10px;
    background: transparent;

}

.info {
    width: 80vw;
    margin: auto;
    background: var(--secondary);
    border-radius: 30px;
    padding: 50px;
    margin-top: 150px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    border: solid 2px var(--blanc);
    border-radius: 20px;
    color: var(--primary);
}

.center {
    background-color: var(--secondary);
    margin: 0 80px;
}

.center h1 {
    margin: 30px 0;
}

.center h1, h2, h3, p {
    background-color: var(--secondary);
}

.nomPrenom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
}

.nomPrenom h1 {
    margin-right: 80px;
}

.nomPrenom .split h1:nth-child(1) {
    color: var(--rose)
}

.adresse {
    margin-top: 30px;
    color: var(--primary);
    background-color: var(--secondary);
}

.adresse .split h1:nth-child(1) {
    color: var(--jaune)
}

.split {
    display: flex;
    background-color: 
    var(--secondary);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.split h1:nth-child(1) {
    margin-right: 30px;
    color: var(--bleu);
    font-size: 1.8em;
}

.split h1:nth-child(2) {
    font-size: 1.2em;
}

.categorie {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
}

.categorie li {
    margin: 0 50px;
    border-radius: 20px;
    background-color: var(--secondary);
}

.categorie li img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid var(--bleu);
}

.catBtn {
    opacity: 0.2;
}

.catBtn:hover {
    opacity: 1;
}

.categorie-active {
    opacity: 1;
}

.special h1{
    background-color: var(--secondary);
    margin-bottom: 40px;
}
.vendeurs-objets{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    color : var(--blanc);
    margin-bottom:40px; 
}
.vendeurs-objets .marchandises, .vendeurs, .acheteurs{
    width: 80vw;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--bleu);
    border-radius: 20px;
    color : var(--blanc); 
}
.vendeur p, .acheteur p, .marchandise p{
    background: transparent;
}

.vendeur:hover p, .acheteur:hover p, .marchandise:hover p{
    color: var(--bleu);
}

.vendeur, .acheteur, .marchandise{
    margin-bottom: 4px;
    background: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}

.fa-times{
    margin-left:10px;
    color: var(--rose);
}

.fa-check{
    margin-left:10px;
    color: var(--vert);
}

.fa-times:hover{
    cursor:pointer;
}

.vendeurs-objets h1{
    background: transparent;
}
.ajouterSupp .btnFinal{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.ajouterSupp li:hover {
    color: var(--rose);
    border: 3px solid currentColor;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-10px) scale(1.1);
    transition: 0.3s transform ease-in-out;
}

.ajouterSupp .colorSync{
    padding: 5px;
    background-color: transparent;
    border: 3px solid var(--rose);
    border-radius: 20px;
    color : var(--blanc);
    cursor: pointer;
}
