@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
}

.nav-barre ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-barre li{
    color: var(--bleu);
    margin: 20px;
    display: flex;
    border: 2px solid var(--bleu);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.nav-barre li a{
    padding: 10px 30px;
    background: transparent;
    text-decoration: none;
    color: var(--bleu);
    transition: 0.3s ease-in-out;
}

.nav-barre .actif{
    background-color: var(--bleu);
    transform: scale(1.1);
}

.nav-barre .actif a{
    color: var(--blanc);
    cursor: default;
}

.nav-barre li:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
    cursor: pointer;
}

.nav-barre li:hover a{
    color: var(--blanc);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--blanc);
}

.imgFond{
    width: 70vw;
    height: 15vh;
    border-radius: 15px;
    overflow: hidden;
}

.imgProfil{
    position: absolute;
    top:18vh;
    left:25vw;
    border: solid 2px white;
}

.imgProfil img{
    width:15vh;
    height: auto;
}

.pseudo{
    margin-top: 60px;
    font-size: x-large;
}

.rose{
    color:var(--rose);
    font-size: large;
}

.nomPrenomEmail{
    margin-top: 20px;
    width: 70vw;
    display: flex;
    flex-direction:row;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.vert{
    color:var(--jaune);
    margin-left: 6vw;
}

.verte{
    margin-top:20px;
    color:var(--vert);
    font-size: large;
}

.blanc{
    color:var(--blanc);
    margin-right:8vw;
    padding-left:10px;
}

.listItems{
    width:70vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.item{
    border: solid 2px white;
    border-radius:4px;
    height: 480px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    box-shadow: 0px 10px 20px black;
    transition: 0.3s ease-in-out;
}

.item .propositions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .propositions .accepter, .redo{
    padding:5px;
    border: solid 2px white;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    color: var(--primary);
    font-weight:bold;
}

.item .propositions .accepter{
    background-color: var(--vert);
}

.item .propositions .redo{
    background-color: var(--rose);
}

.item .udrlg{
    text-decoration: underline;
    text-decoration-color: var(--blanc);
}

.item .offreP{
    display: flex;
    flex-direction: row;
}

.item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px var(--secondary);
}

.imgItem img{
    width:200px;
    height:200px;
}