/* @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    background-color: var(--primary);
    
}

.nav-barre ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-barre li{
    color: var(--bleu);
    padding: 10px 30px;
    margin: 20px;
    display: flex;
    border: 2px solid var(--bleu);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.nav-barre .actif{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
}

.nav-barre li:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.achat {
    text-align: center;
    height: 400px;
    width : 80vw;
    border-radius: 30px;
    background-size: cover;
}

.achat h1 {
    margin-top: 50px;
    font-size: 3.5em;
    letter-spacing: 20px;
    color: var(--blanc);
}

.achat ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    list-style: none;
    margin-top: 50px;
}

.achat li,h1,h3,img {
    background: transparent;
}

.achat li {
    margin: 0 50px;
    padding: 15px;
}

.achat img {
    height: 100px;
    width: 100px;
}

.achat li:nth-child(1) { 
    color: var(--bleuFonce);
}

.achat li:nth-child(2) { 
    color: var(--blanc);
}

.achat li:nth-child(3) { 
    color: var(--rose);
}

.achat li:hover {
    border: 3px solid currentColor;
    margin: 0 50px;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-30px) scale(1.1);
    transition: 0.3s transform ease-in-out;
}

.categories-barre{
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width : 75vw;
    border: 3px solid var(--blanc);
    padding: 20px;
    border-radius: 20px;
}
.categories-barre ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    list-style: none;
}

.categories-barre li {
    margin: 0 50px;
    padding: 15px;
    color: var(--blanc);
    transition: 0.3s transform ease-in-out;
}

.categorie-active {
    color: var(--bleu);
    border: 3px solid currentColor;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-10px) scale(1.1);
}

.categories-barre li:hover {
    color: var(--bleu);
    border: 3px solid currentColor;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-10px) scale(1.1);
}

.line{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line img{
    height: 280px;
    width: 350px;
}

.line ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.line li {
    margin: 0 50px;
    padding: 15px;
}

.line li:nth-child(1) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-left: 2.5%;
    margin-top: 15px;
}

.line li:nth-child(2) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-left: 50%-200px;
    margin-top: 15px;
}

.line li:nth-child(3) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-right: 2.5%;
    margin-top: 15px;
}

.item{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item img{
    height: 280px;
    width: 350px;
}

.item ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.item li {
    margin: 0 50px;
    padding: 15px;
}

.item li:nth-child(1) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-left: 2.5%;
    margin-top: 15px;
}

.item li:nth-child(2) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-left: 50%-200px;
    margin-top: 15px;
}

.item li:nth-child(3) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-right: 2.5%;
    margin-top: 15px;
}

.achat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.achat li {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 40px;
    transition: 0.3s transform ease-in-out;
}

.achat h3 {
    background: transparent;
}


.achat li img {
    background: transparent;
    height: 100px;
    width: 100px;
}

.achat li:nth-child(1) { 
    color: var(--bleuFonce);
}

.achat li:nth-child(2) { 
    color: var(--blanc);
}

.achat li:nth-child(3) { 
    color: var(--rose);
}

.achat li:hover {
    border: 3px solid currentColor;
    padding: 10px;
    margin: 10px 40px;
    border-radius: 20px;
    transform: translateY(-30px) scale(1.1);
} 

.recherche-active {
    border: 3px solid currentColor;
    padding: 10px;
    margin: 10px 40px;
    border-radius: 20px;
}

.listItems{
    width:75vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.item {
    height: 570px !important;
}


.item .prix{
    color: var(--vert);
    font-size: 20px;
}

.info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info2 p{
    text-align: center;
    color: var(--blanc); 
}

p {
    text-align: center;
    color: var(--blanc);
}

.info2 {
    height: 100%;
}

.item{
    border: solid 2px white;
    border-radius:4px;
    /* padding: 5px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    box-shadow: 0px 10px 20px black;
    transition: 0.3s ease-in-out;
}

.item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px var(--secondary);
}

.imgItem img{
    width:200px;
    height:200px;
}

.item-bottom {
    height: 170px;
    width: 100%;
    /* background-color: var(--secondary); */
    border-top: 2px solid var(--blanc);
    display: flex;
    justify-content: center;
}

.item-bottom img{
    height: 30px;
    width: 30px;
    margin: 5px 20px;
}

.item .rose{
    font-size: 20px;
    color: var(--rose);
}

.vert{
    font-size: 20px;
    color:var(--vert);
    margin-bottom: 2vh;
}

.column{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formSearch{
    margin-top:20px;
    margin-bottom:20px;
}

form .inptTxt {
    color: black;
    border: 3px solid var(--bleu);
    margin: auto;
    background-color: var(--blanc);
    border-radius: 15px;
    color: var(--primary) !important;
    padding: 5px;
}

form .inptBtn{
    border: 3px solid var(--bleu);
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    color: var(--bleu) !important;
    background-color: var(--primary);
}