/* @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    background-color: var(--primary);
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.achat-bottom {
    text-align: center;
    height: 400px;
    width : 95vw;
    border-radius: 30px;
    background-image: url("../../images/Fond/fond-choix2.jpg");
    background-size: cover;
}

.achat-bottom h1 {
    margin-top: 50px;
    font-size: 3.5em;
    letter-spacing: 20px;
    color: var(--blanc);
}

.achat-bottom ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    list-style: none;
    margin-top: 50px;
}

.achat-bottom li,h1,h3,img {
    background: transparent;
}

.achat-bottom li {
    margin: 0 50px;
    padding: 15px;
}

.achat-bottom img {
    height: 100px;
    width: 100px;
}

.achat-bottom li:nth-child(1) { 
    color: var(--bleuFonce);
}

.achat-bottom li:nth-child(2) { 
    color: var(--blanc);
}

.achat-bottom li:nth-child(3) { 
    color: var(--rose);
}

.achat-bottom li:hover {
    border: 3px solid currentColor;
    margin: 0 50px;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-30px) scale(1.1);
    transition: 0.3s transform ease-in-out;
}

.nav-barre{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-barre img {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
}

.nav-barre ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    list-style: none;
}

.nav-barre li {
    margin: 0 50px;
    padding: 15px;
    color: var(--blanc);
}

.nav-barre li:hover {
    color: var(--bleu);
    border: 3px solid currentColor;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-10px) scale(1.1);
    transition: 0.3s transform ease-in-out;
}

.nav-barre img:hover {
    color: var(--bleu);
    border: 3px solid currentColor;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-10px) scale(1.1);
    transition: 0.3s transform ease-in-out;
}

.categories-barre{
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width : 75vw;
    border: 3px solid currentColor;
    padding: 20px;
    border-radius: 20px;
}
.categories-barre ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    list-style: none;
}

.categories-barre li {
    margin: 0 50px;
    padding: 15px;
    color: var(--blanc);
}

.categories-barre li:hover {
    color: var(--bleu);
    border: 3px solid currentColor;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-10px) scale(1.1);
    transition: 0.3s transform ease-in-out;
}

.line{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line img{
    height: 280px;
    width: 350px;
}

.line ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.line li {
    margin: 0 50px;
    padding: 15px;
}

.line li:nth-child(1) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-left: 2.5%;
    margin-top: 15px;
}

.line li:nth-child(2) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-left: 50%-200px;
    margin-top: 15px;
}

.line li:nth-child(3) {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background: var(--blanc);
    margin-right: 2.5%;
    margin-top: 15px;
}




















/* .titre {
    display: flex;
    justify-content: center;
    height: 400px;
    width : 95vw;
    border-radius: 30px;
    background-image: url("../../images/Fond/fond-choix2.jpg");
    background-size: cover;
}

.titre h1{
    align-items: top;
    background : transparent;
    font-size: 500%;
    color: var(--jaune);
}



.Achat-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.Achat-bottom li {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 20px;
}

.Achat-bottom h3 {
    background: transparent;
}


.Achat-bottom li img {
    background: transparent;
    height: 100px;
    width: 100px;
}

.Achat-bottom li:nth-child(1) { 
    color: var(--bleuFonce);
}

.Achat-bottom li:nth-child(2) { 
    color: var(--blanc);
}

.Achat-bottom li:nth-child(3) { 
    color: var(--rose);
}

.Achat-bottom li:hover {
    border: 3px solid currentColor;
    margin: 10px;
    border-radius: 20px;
    transform: translateY(-30px) scale(1.1);
    transition: 0.3s transform ease-in-out;
} */