@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
}

.nav-barre ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-barre li{
    color: var(--bleu);
    padding: 10px 30px;
    margin: 20px;
    display: flex;
    border: 2px solid var(--bleu);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.nav-barre .actif{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
}

.nav-barre li:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondVendre{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 70vw;
    height: 250px;
    background-image: url("../../images/fondDefault.jpg");
    border-radius:4px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fondVendre .carteVendeur{
    position: absolute;
    top:4px;
    right:4px;
    width: 200px;
    height: 242px;
    border: solid 2px var(--blanc);
    border-radius: 4px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.bckgdCarteVendeur{
    position:absolute;
    top:0px;
    left:1px;
    width:195px;
    height: 100px;
}

.fondVendre p{
    color: var(--jaune);
    text-transform: uppercase;
    background: transparent;
    font-size: 50px;
}

.imgVendeur{
    position: absolute;
    top:50px;
    left:50px;
}

.imgVendeur img{
    width:100px;
    height: auto;
    background: transparent;
}

.psdVendeur{
    margin-top:170px;
    background: transparent;
}

.psdVendeur p{
    color:var(--rose);
    font-size: 20px;
}

.detail-item {
    margin: auto;
    margin-top: 100px;
    height: 500px;
    width: 70vw;
    border: 3px solid var(--blanc);
    border-radius: 20px;
    margin-bottom: 500px;
}

.detail-item .top {
    height: 50%;
    width: 100%;
    border-radius: 17px 17px 0 0;
    display: flex;
    align-items: center;
}

.detail-item .top img {
    height: 245px;
    width: 245px;
    /* border-radius: 20px;
    border: 3px solid var(--blanc); */
}

.detail-item .top p {
    color: var(--blanc);
}

.detail-item .top .left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px 0 0 0;
}

.detail-item .top .right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 17px 0 0;
}

.detail-item .bottom {
    height: 50%;
    width: 100%;
    border-radius: 0 0 17px 17px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.elem {
    height: 200px;
    width: 450px;
    border: 3px solid var(--blanc);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 10px 20px black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.elem:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px var(--secondary);
}

.elem .left img{
    height: 100px;
    width: 100px;
    border-radius: 17px;
}

.elem .right{
    color: white;
    border-radius: 17px;
}
.elem .right p{
    color: var(--vert);
    font-size: 1.5em;
}