@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
    --primary: #212121;
    --secondary: #757575;
    --vert: #36F4B9;
    --bleu: #77B5FE;
    --bleuFonce: #2E006C;
    --rose: #FF6F7D;
    --jaune: #FFFF6B;
    --blanc: #FFFFFF;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    background-color: var(--primary);
    
}

.nav-barre ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-barre li{
    color: var(--bleu);
    padding: 10px 30px;
    margin: 20px;
    display: flex;
    border: 2px solid var(--bleu);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.nav-barre .actif{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
}

.nav-barre li:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achat-bottom {
    /* position: relative; */
    text-align: center;
    height: 200px;
    width : 95vw;
    border-radius: 30px;
    /* background-image: url("../../images/Fond/fond-choix2.jpg"); */
    background-size: cover;
}

.achat-bottom h1 {
    margin-top: 50px;
    font-size: 3.5em;
    letter-spacing: 20px;
    color: var(--blanc);
}

.achat-bottom h1 {
    background: transparent;
}

.achat-bottom .profil {
    position: relative;
    left: 100px;
    top: -40px;
    height: 200px;
    width: 200px;
    background-color: var(--secondary);
    border-radius: 20px;
}

.achat-bottom img {
    margin-top: 20px;
    height: 120px;
    width: 120px;
    background-color: transparent;
    background-color: var(--primary);
    border-radius: 20px;
}

.profil h3 {
    margin-top: 10px;
    background-color: var(--secondary);
}

.typeAchat{
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    color : var(--blanc); 
}
.typeAchat ul{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.typeAchat li{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 80vw;
    border: 3px solid var(--bleu);
    border-radius: 20px; 
    color : var(--blanc); 
}

.typeAchat li:nth-child(1){
    margin-top: 6em;
}

.typeAchat h1{
    background-color: transparent;:
}

.payer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.payer h1{
    padding: 10px;
    border: 3px solid var(--rose);
    border-radius: 20px;
    color : var(--blanc);
    background-color: transparent;
}

.payer h1:hover {
    color: var(--bleuFonce);
    border: 3px solid currentColor;
    padding: 12px;
    border-radius: 20px;
    transform: translateY(-10px) scale(1.1);
    transition: 0.3s transform ease-in-out;
    background-color:var(--rose);
}

.listItems{
    width:70vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}


.item .prix{
    color: var(--vert);
    font-size: 20px;
}

.info{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info2 p{
    text-align: center;
    color: var(--blanc); 
}

p {
    text-align: center;
    color: var(--blanc);
}

.info2 {
    height: 100%;
}

.item{
    border: solid 2px white;
    border-radius:4px;
    /* padding: 5px; */
    height: 420px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    box-shadow: 0px 10px 20px black;
    transition: 0.3s ease-in-out;
}

.item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px var(--secondary);
}

.imgItem img{
    width:200px;
    height:200px;
}

.item .rose{
    font-size: 20px;
    color: var(--rose);
    margin-right: 30px;
}

.article{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.article ul{
    flex-direction: row;
}

.article li{
    padding: 10px;
    height: auto;
    width: auto;
    border: 3px solid var(--rose);
    border-radius: 20px;
    color : var(--blanc);
    background-color: transparent;
}

.article li:nth-child(2){
    margin-top: 6em;
}